<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="EventServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <applicationSettings>
  <EventServer.My.MySettings>
   <setting name="Warehouse" serializeAs="String">
    <value>WH2</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>data source=AFSSQL01;initial catalog=MASON;persist security info=False;user id=AEROSSA;password=AEROSQL;workstation id=SYSTEM;packet size=4096</value>
   </setting>
   <setting name="ThreadCount" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="TemplateDirectory" serializeAs="String">
    <value>\\192.168.0.20\navigator\MASON\templates\</value>
   </setting>
   <setting name="ExportDirectory" serializeAs="String">
    <value>\\192.168.0.20\navigator\MASON\export\</value>
   </setting>
   <setting name="Verbose" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Console" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="SMTPSetting" serializeAs="String">
    <value>aero-office.aerofulfillment.com</value>
   </setting>
  </EventServer.My.MySettings>
 </applicationSettings>
</configuration>
